.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  margin-top: 3.4rem;
}
.navList {
  display: flex;
  gap: 1.8rem;
  list-style: none;
  text-decoration: none;
  flex-shrink: 1;
  align-items: center;
  flex: 0 1;
}
.navList li > a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 5 00;
  color: var(--color-black);
  transition: 300ms;
}
.navList li > a:hover {
  color: var(--color-limegreen-100);
}
.cta {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.inputSearch {
  padding: 0.5rem;
  border: none;
  border-radius: 13px;
  outline: none;
}
.inputSearch:focus,
.inputSearch:active {
  outline: 3px solid var(--color-limegreen-100);
}

.cartBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Responsive Header */
@media only screen and (max-width: 960px) {
  .mainNav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }

  .mainHeader {
    margin-top: 1rem;
  }
  .mainHeader {
    margin-top: 3.4rem;
  }
  .navList {
    display: none;
  }
  .cta {
    display: flex;
    gap: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .logoMobNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .form {
    flex: 0 1;
    flex-basis: 50%;
  }
  .inputSearch {
    width: 100%;
  }
}
