.headingTers {
  margin-top: 1rem;
  font-size: 3.1rem;
  font-weight: 700;

  line-height: 1.3;
}
.headingBox {
  margin-bottom: 2dvb;
}
.testimonial {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  /* height: 100vh; */
}

.customerFeedbackContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.customerFeedback > h6 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.customerFeedback > div {
  display: flex;
  gap: 1rem;
}
.text {
  line-height: 1.4;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(85, 85, 85, 1);
  margin-bottom: 4rem;
}
.headingSec {
  margin-bottom: 2rem;
}
.imageBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 100%;
  width: inherit;
  max-width: 100%;
  background-color: var(--color-palegreen);
  /* position: absolute; */
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 140px 140px 14px 14px;
}

.textBox {
  margin-top: auto;
}
@media only screen and (max-width: 1160px) {
  .testimonial {
    flex-direction: column;
  }
}
@media only screen and (max-width: 760px) {
  .image {
    width: 100%;
    object-fit: contain;
  }
  .customerFeedbackContainer {
    flex-direction: column;
    gap: 2rem;
  }
}
