:root {
  --color-black: #000;
  --color-white: #fff;
  --color-limegreen-100: #39db4a;
  --color-dimgray-100: #555;
  --color-dimgray-200: #515151;
  --color-darkseagreen: #90bd95;
  --color-palegreen: #5fe26c;
  --color-tomato: #f63b3b;
  --color-gray-100: #2c2c2c;
  --color-gray-200: #1e1e1e;
  --color-salmon-100: #ff7979;
  --color-salmon-200: #ff6868;
  --color-lightgoldenrodyellow: #c1f1c6;
}
